<h1><%= @article.title%></h1>
<p><%= @article.content %></p>

<p><%= link_to "Edit ðŸ–‹", edit_article_path(@article) %>
<%= link_to "Delete ðŸ—‘", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>

<p><%= link_to "â¬…ï¸ Back to the main menu", articles_path %></p>
