<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <p class="wikinimous"><%= link_to "Wikinimous", articles_path %></p>
      <p class="add-article"><%= link_to " â• Add a new article", new_article_path %></p>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
